<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Card</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="logo">
  <img src="/logo.jpg" alt="Logo">
</div>

<div id="menu">
  <a href="/main" class="button">Tomasz</a>
  <a href="/about" class="button">O mnie</a>
  <a href="/contact" class="button">Kontakt</a>
</div>

<div id="content">
Mieszkam w Krakowie <br> lubie sobie czasem kodować w java <br> choć jeszcze tego nie umiem <br> to sie naucze!
</div>

<script src="script.js"></script>
</body>
</html>