<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Card</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="logo">
  <img src="/logo.jpg" alt="Logo">
</div>

<div id="menu">
  <a href="/main" class="button">Tomasz</a>
  <a href="/about" class="button">About me</a>
  <a href="/contact" class="button">Contact</a>
</div>

<div id="content">
  I am a Financial Analyst utilizing VBA, Power Query, Power Pivot, and Excel for data analysis. During my time at Capgemini,
  <br>I acquired expertise in VBA macro development and data analysis, and now I am further developing these skills at PepsiCo,
  <br>focusing on financial analysis and utilizing SAP ERP. My responsibilities include transitioning processes from abroad to
  <br>Global Business Services. Additionally, I possess strong technical skills that I am currently enhancing through my
  <br>participation in a Java Bootcamp, where I am learning Java, Spring, SQL, Maven, Scrum project management,
  <br>and various other technologies. Apart from my professional pursuits, I am passionate about Excel & VBA training and data analysis, and I have
  <br>recently begun collaborating with Comarch Training Center as an Excel, VBA and data analysis trainer.

</div>

<script src="script.js"></script>
</body>
</html>