<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Card</title>
  <link rel="stylesheet" href="styles.css">
 </head>
<body>
<div id="logo">
  <img src="/logo.jpg" alt="Logo">
</div>

<div id="menu">
  <a href="/main" class="button">Tomasz</a>
  <a href="/about" class="button">O mnie</a>
  <a href="/contact" class="button">Kontakt</a>
</div>

<div id="content">
  <form id="contact-form" method="post">
    <input type="text" name="pattern" class="input" placeholder="Napisz do mnie wiadomość">
    <input type="submit" value="Wyślij" class="button">
  </form>
</div>
</body>
</html>
